.app__footer {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 50px;

  justify-content: center;
  align-items: center;
  gap: 11rem;
  background-color: var(--dark-color);
  padding: 1rem;
}

.app__footer_social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app__footer_icons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.app__footer_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 567px) {
  .app__footer {
    gap: 3rem;
    align-items: space-between;
    font-size: 0.8rem;
  }
}
