@font-face {
  font-family: handScript;
  src: url("../assets/hand_script.woff2");
  font-display: "swap";
}

body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: white;
  background: rgb(31, 31, 31);
  background-image: url("../assets/app_background_1280x720.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --font-base: "DM Sans", sans-serif;
  --secondary-color: #313bac;
  --black-color: #030303;
  --gray-color: rgb(218, 218, 218);
  --blue-color: #2a323b;
  --red-color: #db444e;
  --dark-red-color: #d72834;
  --purple-color: rgb(138, 48, 135);
  --dark-purple-color: rgb(97, 32, 95);
  --gray-navbar-color-transparent: rgba(83, 83, 83, 0.9);
  --dark-color: rgb(53, 53, 53);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  padding-top: 50px;
  h1 {
    font-size: 2.4rem;
    margin-top: 0.8rem;
  }
  h1 span {
    font-size: 3.5rem;
    margin-left: 10px;
  }
  .hand-script-font {
    font-family: handScript;
    font-size: 3.5rem;
  }
}

.description-div {
  width: 90%;
}

.inline-block {
  display: inline-block;
}

.social-link-container {
  display: flex;
  align-items: center;
}

.social-link-text {
  margin-left: 6px;
  &:hover {
    color: var(--red-color);
  }
}

.about {
  max-width: 630px;
  width: 90%;
  margin: 1.25rem 1.5rem 7rem 1.5rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  font-size: 1.1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-align: left;
}
.fade {
  opacity: 0;
}
.about-description {
  margin-top: 2rem;
}
.about-btn {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 1rem;
  transition: 300ms;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: black;
  text-align: left;
  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }
}

.app__p-text {
  font-size: 0.8rem;
  text-align: left;
  color: black;
  line-height: 1.5;
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.app__modal-btn {
  height: 40px;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--red-color);
  background-color: var(--red-color);
  font-size: 1rem;
  transition: 500ms;
  color: white;
  &:hover {
    background-color: var(--dark-red-color);
    border-color: var(--dark-red-color);
    cursor: pointer;
  }
}

.app__modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.app__modal-content {
  background-color: var(--gray-color);
  margin: 14rem auto;
  padding: 20px;
  border: 3px solid var(--red-color);
  border-radius: 10px;
  max-width: 800px;
  color: black;
  padding: 30px;
  text-align: left;
  font-size: 1.1rem;
  p {
    margin: 7px 0px 7px 10px;
  }
  li {
    margin: 7px 0px 7px 30px;
  }
}
.app__modal-links {
  a {
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
}
.app__close {
  position: relative;
  color: var(--red-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
  }
}

@media screen and (max-width: 540px) {
  .container {
    h1 {
      span {
        font-size: 2.5rem;
      }
    }
    font-size: 0.8rem;
  }
  .about {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .app__modal-content {
    width: 80%;
  }
}

@media screen and (max-width: 769px) {
  .app__modal-content {
    font-size: 0.95rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .app__modal-content {
    width: 95%;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    trasform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader div {
  position: absolute;
  animation: loader-spin 1s linear infinite;
  width: 50px;
  height: 50px;
  top: 100px;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 4px 0 0 var(--red-color);
}

.loader {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
}
