@mixin fixed_element {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}

.app__navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: var(--gray-navbar-color-transparent);
  position: fixed;
  top: 0px;
  z-index: 2;
}

.app__navbar_links {
  @media screen and (max-width: 900px) {
    display: none;
  }
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    font-size: 1.1rem;
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 100%;
      height: 5px;

      border-radius: 5px;
      margin-bottom: 5px;
      background-color: transparent;
    }
  }

  li:hover {
    div {
      background-color: white;
      animation-name: widthIncrease;
      animation-duration: 0.4s;
    }
  }
}

.app__navbar_link {
  &:hover {
    color: var(--red-color);
  }
}

.app__navbar_link_underline {
  background-color: white !important;
}

.app__navbar_link_color {
  color: var(--red-color);
}

.app__navbar_menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 900px) {
    display: none;
  }
  svg {
    width: 70%;
    height: 70%;
    color: white;
    cursor: pointer;
    transition: 200ms ease;
    &:hover {
      height: 35px;
      width: 35px;
    }
  }

  div {
    z-index: 2;
    @include fixed_element;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    div {
      @include fixed_element;
      z-index: 5;
      padding: 2rem 1rem 0rem 0rem;
      width: 70%;
      animation-name: widthIncrease;
      animation-duration: 1s;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      background-color: var(--gray-navbar-color-transparent);

      svg {
        width: 35px;
        height: 35px;
        color: var(--red-color);
        margin: 0.5rem 1rem;
        cursor: pointer;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        li {
          margin: 1rem;

          a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: var(--red-color);
            }
          }
        }
      }

      @media screen and (min-width: 900px) {
        display: none;
      }
    }
  }
}

.app__navbar_menulink_color {
  color: var(--red-color) !important;
}

.app__navbar_social_media {
  width: 200px;
  display: flex;
  justify-content: space-around;

  svg {
    background-color: black;
    border-radius: 50%;
    border: 2px black solid;
    height: 30px;
    width: 30px;
    transition: 200ms ease-in-out;
    &:hover {
      height: 35px;
      width: 35px;
    }
  }
  @media screen and (max-width: 520px) {
    width: 140px;
  }
}

@keyframes widthIncrease {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
