.app__skills {
    flex: 1;
    width: 100%;
  }
  
  .app__skills_container {
    width: 100%;
    max-width: 1300px;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  
  .app__skills_list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:90%;
    
    @media screen and (max-width: 900px) {
      
      justify-content: center;
      align-items: center;
    }
  }
  
  .app__skills_item {
   
    //position:relative;
    //flex-direction: column;
    text-align: center;
    color:black;
    margin: 2rem;
    padding:1rem;
    transition: 0.3s ease-in-out;
    
    @media screen and (max-width: 520px){
      padding:0.3rem;
      margin:1rem;
    }

    div {
      padding-top:20px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: #fef4f5;
      display:block;
      transition:250ms;
  
      &:hover {
        box-shadow: 0 0 25px #fef4f5;
        cursor:pointer;
      }
  
      @media screen and (min-width: 2000px) {
        width: 150px;
        height: 150px;
      }
      @media screen and (max-width: 520px) {
        width: 100px;
        height: 100px;
        font-size:0.9rem;
        padding-top:10px;
      }
      
    }
  
    p {
      font-weight: 500;
      margin-top: 0.1rem;
    }
    
    @media screen and (min-width: 2000px) {
      margin: 1rem 2rem;
  
      p {
        margin-top: 1rem;
      }
    }
  }