html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: handScript;
  src: url('../assets/hand_script.ttf'); 
}

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303; 
  --lightGray-color: #e4e4e4;
  --gray-color: rgb(194, 194, 194);
  --brown-color: #46364a;
  --white-color: #ffffff;
  --blue-color: #0080ff;
  --lightBlue-color:#4da6ff;
  --red-color:#9e2b23;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    //background: rgb(31, 31, 31);
    background-image:url('../assets/app_background_1280x720.webp');
    background-repeat: repeat;
    
  }

  .container{
    
    width:100%;
    height:99vh;
    display:flex;
    //justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    color:white;
    padding-top:50px;
    
  }

  .container div{
    width:90%;
  }
  .container h1 span{
    font-family: handScript;
    font-size:3.5rem;
  }

  @media screen and (max-width: 540px){
    .container h1 span{
      //display:block;
      font-size:2.5rem;
    }

    .container{
      font-size:0.8rem;
    }
      
  }

  @media screen and (max-width: 410px){
    .container h1 span{
      display:block;
     
    }
  }

  .about{
    width:90%;
    margin-bottom:9rem;
    margin-top:1rem;
    padding:2rem;
    background:rgba(0,0,0,0.55);
    border-radius:10px;
    font-size:1.1rem;
    opacity:1;
    transition:opacity 0.3s ease-in-out;
    text-align:left;
    
  }
  @media screen and (max-width: 530px){
    .about{
      padding:1rem;
      font-size:1rem;
    }
      
  }

  @media screen and (min-width: 769px){
    .about{
      width:60%;
      font-size:1.1rem;
    }
      
  }

  .fade{
    opacity:0;
  }
  .aboutBtn{
    margin-top:1rem;
    padding:0.7rem;
    border-radius:8px;
    background-color: rgba(0,0,0,0.2);
    font-size:1rem;
    transition: 300ms
  }
  .aboutBtn:hover{
      cursor:pointer;
      background-color: rgba(0,0,0,0.6);
  }

  .app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: black;
    text-align: left;
  
    @media screen and (min-width: 2000px) {
      font-size: 2rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
  }

  .p-text {
    font-size: 0.8rem;
    text-align: left;
    color: black;
    line-height: 1.5;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  }

  .openModalBtn {
    height:40px;
    padding:0.6rem;
    border-radius:5px;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-size:1rem;
    transition:500ms;
  }

  .openModalBtn:hover{
    background-color:var(--blue-color);
    cursor:pointer;
  }

  .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0,0.8); 
  }
  
  .modal-content {
    background-color: var(--gray-color);
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid var(--secondary-color);
    border-radius:10px;
    width: 60%; 
    color:black;
    padding:30px;
    text-align:left;
    
  }

  @media screen and (max-width: 684px) {
    .modal-content p{
    
      font-size: 0.5rem;
    }
    .modal-content{
      width:80%;
    }
  }


  .modal-content p{
    font-size:1.1rem;
  }

  .modal-content li, .modal-content p{
    margin:7px 0px 7px 30px;
  }

  .close {
    position:relative;
    //top:10%;
    //right:12%;
    color: var(--red-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus{
    cursor:pointer;
  }
}
