  
.app__project_portfolio {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .app__project_item {
      width: 290px;
      min-width:290px;
      max-height:370px;
      flex-direction: column;
      
      margin: 2rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--gray-color);
      color: #fff;
  
      cursor: pointer;
      transition: all 0.3s ease;
      
      &:hover {
        box-shadow: 0 0 25px rgba(177, 177, 177, 0.928);
      }
  
      @media screen and (min-width: 2000px) {
        width: 470px;
        padding: 1.25rem;
        border-radius: 0.75rem;
      }
  
      @media screen and (max-width: 300px) {
        width: 100%;
        margin: 1rem;
      }
    }
  }
  
  .app__project_img {
    width: 100%;
    height: 230px;
  
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  
    @media screen and (min-width: 2000px) {
      height: 350px;
    }
  }
  
  .app__project_hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    &:hover{
      opacity: 1;
    }
    div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
  
      margin: 1rem;
      font-family: var(--font-base);
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover{
        height:60px;
        width:60px;
      }
      svg {
        width: 50%;
        height: 50%;
        color: white;
        
      }
    }
  }
  
  .app__project_content {
    padding: 0.6rem;
    width: 100%;
    position: relative;
    flex-direction: column;
    
    h4 {
      margin-top: 1rem;
      line-height: 1.5;
  
      @media screen and (min-width: 2000px) {
        margin-top: 3rem;
      }
    }
  
    .app__project_tag {
      position: absolute;
  
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background-color: rgba(214, 214, 214, 0.816);
      top: -25px;
    }
  }